# Visual Studio
.vs/

# Archivos temporales
*.user
*.suo
*.VC.db

# Archivos de compilación
build/
out/
dist/

# Objetos
*.o
*.obj
*.elf
*.nro
*.nacp
*.npdm

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini